.modal-box{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     background-color: white;
     width: 500px;
     height: auto;
     z-index: 10;
     outline: none;   
     border-radius: 10px;
}
.modal-head{
        text-align: center;
        padding: 8px 0;
        border-bottom: 1px solid #ccc;

}
.modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        .modal-body-top{
                display: flex;
                column-gap: 6px;
                .modal-text-input{
                        width: 100%;
                        border-radius: 30px;
                        height: 46px;
                        border: 1px solid #ccc;
                        padding-left: 12px;
                        outline: none;
                }
        }
        .modal-buttons{
                display: flex;
                column-gap: 50px;
                margin: 10px 0;
                button{
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                }
        }
        .share-img-wrapper{
                position: relative;
                margin: 8px;
                .cancel-icon{
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        cursor: pointer;

                }
        }
}

@media (max-width:768px) {
        .modal-box{
                width: 100%;
                .modal-buttons{
                        justify-content: center;
                        button:not(:first-child){
                                display: none;
                        }
                }
        }
}